//
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at
 
      http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

p.p-info(ng-if="!nodeid")
  em Select node to see the metrics

nav.navbar.navbar-default.navbar-secondary-additional.navbar-secondary-additional-2(ng-if="nodeid")
  .navbar-info {{ nodeid }}
  .dropup.add-metrics(ng-if="availableMetrics.length")
    button.btn.btn-default.navbar-btn.dropdown-toggle(type='button', data-toggle='dropdown')
      | Add metric
      | &nbsp;
      span.caret
    ul.dropdown-menu.dropdown-menu-right
      li(ng-repeat="metric in availableMetrics")
        a(ng-click="addMetric(metric)") {{ metric.name }}

p.p-info(ng-if="nodeid && metrics.length == 0")
  em No metrics selected

.row.metric-row(ng-if="nodeid")
  .col-xs-4.metric-col(ng-repeat="metric in metrics")
    metrics-graph(mtype="{{metric}}" options="options" data="data" remove-metric="removeMetric(metric)")

  //.col-xs-4.metric-col(ng-if="availableMetrics.length")
  //  .panel.panel-default.panel-metric
  //    .panel-body
  //      form(name='metricChoiceForm')
  //        select(ng-options="metric.name for metric in availableMetrics" ng-model="chosenMetric" ng-change="addMetric(chosenMetric); chosenMetric = null")
